.personal{
    display: flex;
    padding: 10px 0;
    flex-wrap: wrap;
}
.personal .info{padding: 5px 10px 0 10px}
.p_content{margin: 0 0 0 10px; width: 100%;}

.p_content .table{margin-top: 10px;}

.table_groups{display: none;}

.personal-btn{
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.users-groups button.btn.act{
    background-color: #007bff;
    border-color: #007bff;
}
#new_invite{display: none;}

#invite_code{font-weight: bold;}

#generate{max-height: 60px;}

.my_groups{margin-top: 10px;}
.users-groups{max-width: 600px;}
.users-groups .form-group{display: inline-block;}
.users-groups .form-control{width: 350px}
.d-mobile{display: none;}
@media (max-width:480px){
.users-groups .form-control{width: 280px}
.d-screen{display: none;}
.d-mobile{display: inline;}
.users-groups span.d-mobile{font-weight: bold;}
}
