.personal{
    display: flex;
    padding: 10px 0;
    flex-wrap: wrap;
}
.personal .info{padding: 5px 10px 0 10px}
.p_content{margin: 0 0 0 10px; width: 100%;}

.p_content .table{margin-top: 10px;}

#new_invite{display: none;}

#invite_code{font-weight: bold;}

#generate{max-height: 60px;}

.my_groups{margin-top: 10px;}
.users-groups{max-width: 600px;}
.users-groups .form-group{display: inline-block;}
.users-groups .form-control{width: 350px}
.d-mobile{display: none;}
@media (max-width:480px){
.users-groups .form-control{width: 280px}
.d-screen{display: none;}
.d-mobile{display: inline;}
.users-groups span.d-mobile{font-weight: bold;}
}
